@import url("../global.css");
@import url("../utilities.css");
@import url("../keyframes.css");

aside {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  height: 100vh; 
  z-index: 1000;

  & #accordion-sidebar {
    background-color: var(--blue-dark);


    & .sidebar-brand {
      border-bottom: 1px solid var(--stroke-primary);
  
      & .sidebar-brand-icon {
        max-height: 3rem;
      }
  
      & .sidebar-brand-text {
        text-transform: capitalize;
      }
    }
  
    &.toogled {
      .sidebar-brand .sidebar-brand-text {
        display: none;
      }
    }
  
    & div:has(#sidebarToggle) {
      opacity: 0.4;
      left: 50%;
      transform: translateX(-50%);
      bottom: 2rem;
    }
  }

}




.topbar,
.topbar {
  border-bottom: 1.5px solid var(--stroke-primary);
}



.navbar-nav .nav-item {

  &.active,
  &:hover {
    & .nav-link {
      background-color: var(--blue-hover);

      &#userDropdown {
        background-color: var(--surface-secondary);
      }
    }
  }
}


.card-header,
.modal-header {
  padding: 0.625rem;
  border-bottom: 1px solid var(--stroke-primary);
  border-radius: 0.3125rem 0.3125rem 0 0;

  & div.icon-wrapper {
    height: 2.5rem;
    width: 2.5rem;
  }
}


.card-body,
.modal-body,
.modal-footer {
  background: linear-gradient(135deg, var(--surface-secondary), var(--surface-tertiary));
}



::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: var(--surface-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 0.125rem;
}

::-webkit-scrollbar-horizontal {
  height: 0.6rem;
}

::-webkit-scrollbar-track-horizontal {
  background-color: var(--surface-secondary);

}

::-webkit-scrollbar-thumb-horizontal {
  background-color: var(--scroll-color);
  border-radius: 0.125rem;
}

& .btn {
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
}