<!-- Books -->
<li class="nav-item">
    <a class="nav-link" href="/book">
    <i class="fas fa-fw fa-book text-white"></i>
    <span class="text-white">Livros</span>
    </a>
</li>


<!-- Autores -->
<li class="nav-item">
    <a class="nav-link" href="/author">
    <i class="fas fa-fw fa-feather-alt text-white"></i>
    <span class="text-white">Autores</span>
    </a>
</li>


<!-- Publishers -->
<li class="nav-item">
    <a class="nav-link" href="/publisher">
    <i class="fas fa-fw fa-building text-white"></i>
    <span class="text-white">Editoras</span>
    </a>
</li>

<!-- Categories -->
<li class="nav-item">
    <a class="nav-link" href="/category">
    <i class="fas fa-fw fa-layer-group text-white"></i>
    <span class="text-white">Categorias</span>
    </a>
</li>

<hr class="sidebar-divider my-4 bg-stroke-primary">