<!-- Books -->
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('books.render_books') }}">
    <i class="fas fa-fw fa-book text-white"></i>
    <span class="text-white">Livros</span>
    </a>
</li>


<!-- Autores -->
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('authors.render_authors') }}">
    <i class="fas fa-fw fa-feather-alt text-white"></i>
    <span class="text-white">Autores</span>
    </a>
</li>


<!-- Publishers -->
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('publishers.render_publishers') }}">
    <i class="fas fa-fw fa-building text-white"></i>
    <span class="text-white">Editoras</span>
    </a>
</li>

<!-- Categories -->
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('categories.render_categories') }}">
    <i class="fas fa-fw fa-layer-group text-white"></i>
    <span class="text-white">Categorias</span>
    </a>
</li>

<hr class="sidebar-divider my-3 bg-stroke-primary">