{% extends 'private/pages/base/index.html' %}

{% set page_title = 'Início' %}
{% set custom_style = 'home.css' %}

{% block page_content %}
<div class="container-fluid mt-4">

  {% if books_by_category %}
    {% for category_name, books in books_by_category.items() %}
    <div class="category mb-5">
      <h2 class="category-title font-weight-bold fs-md text-blue-dark">{{ category_name }}</h2>
      <div class="category-books-container d-flex w-100 pt-1 pb-2">
        
        {% for book in books %}
        <a class="book-card" href="{{ url_for('books.book_details', book_id=book.id) }}">
          <img src="{{ url_for('uploads.get_cover_image', filename=book.cover) }}" alt="Capa do livro '{{ book.title }}'">
          <h3>{{ book.title }}</h3>
        </a>
        {% endfor %}
      
      </div>
    </div>
    {% endfor %}
  {% else %}
    <div class="alert alert-warning text-center mt-3">
      <h3>Nenhum livro disponível no momento.</h3>
    </div>
  {% endif %}

</div>
{% endblock %}
