{% extends 'private/pages/base/index.html' %}

{% set page_title = 'Perfil' %}

{% set custom_style = 'profile.css' %}

{% block page_content %}
<!-- Edit informations card-->
<section class="card shadow mt-4 mb-5 mx-2 mx-md-5">
  <header class="card-header py-2 px-4 d-flex justify-content-between align-items-center">
    <h2 class="m-0 text-blue-dark font-weight-bold">Informações pessoais</h2>
    <div class="d-grid icon-wrapper content-center bg-white text-center rounded-circle fs-base">
      <i class="fas fa-user text-blue-dark"></i>
    </div>
  </header>

  <div class="card-body px-md-5 px-lg-5 d-flex justify-content-center border-white">
    <form id="change-personal-info-form" class="row" enctype="multipart/form-data">
      <div id="photo-container" class="col-12 col-lg-6 my-3 d-flex justify-content-center align-items-center">
        <label for="photo" class="mb-0 d-flex embed-responsive embed-responsive-1by1 position-relative">
          <span id="photo-overlay"
            class="d-grid content-center text-light embed-responsive-item bg-overlay font-weight-bold rounded rounded-circle">Escolher
            foto de perfil</span>
          <img id="photo-preview" src="{{ url_for('uploads.get_profile_image', filename=user.photo) }}" alt="Foto de {{ user_profile.first_name }} {{ user_profile.last_name }}"
            class="object-fit-cover embed-responsive-item">
          <input type="file" name="photo" id="photo" class="invisible embed-responsive-item">
        </label>
      </div>

      <div class="col-12 col-lg-6 my-3 d-flex flex-column justify-content-center">
        <div class="form-group">
          <label for="first-name">Nome</label>
          <input id="first-name" name="first_name" type="text" value="{{ user_profile.first_name }}"  autocomplete="name" class="form-control" />
        </div>

        <div class="form-group">
          <label for="last-name">Sobrenome</label>
          <input id="last-name" name="last_name" type="text" value="{{ user_profile.last_name }}" autocomplete="name"
            class="form-control" />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" name="email" type="text" value="{{ user_profile.email }}" autocomplete="email"
            class="form-control" />
        </div>

        <button id="change-personal-info-button" type="button" class="w-100 btn bg-blue-hover text-white mt-4">
          Alterar informações
        </button>
      </div>
    </form>
  </div>
</section>

<!-- Edit password card-->
<section class="card shadow mt-5 mb-4 mx-2 mx-md-5">
  <header class="card-header py-2 px-4 d-flex justify-content-between align-items-center">
    <h2 class="m-0 text-blue-dark font-weight-bold">Nova senha</h2>
    <div class="d-grid icon-wrapper content-center bg-white text-center rounded-circle fs-base">
      <i class="fas fa-key text-blue-dark"></i>
    </div>
  </header>

  <div class="card-body px-md-5 px-lg-5 border border-white">
    <form id="change-password-form" class="mx-auto" enctype="multipart/form-data">
      <div class="form-group position-relative">
        <label for="current-password">Senha atual</label>
        <div class="d-flex align-items-center position-relative">
          <input id="current-password" name="current_password" type="password" class="form-control" />
          <i class="fa-solid fa-eye-slash position-absolute r-1 password-visibility" title="Mostrar" data-placement="bottom"></i>
        </div>
      </div>

      <div class="form-group position-relative">
        <label for="new-password">Nova senha</label>
        <div class="d-flex align-items-center position-relative">
          <input id="new-password" name="new_password" type="password" class="form-control" />
          <i class="fa-solid fa-eye-slash position-absolute r-1 password-visibility" title="Mostrar" data-placement="bottom"></i>
        </div>
      </div>

      <div class="form-group position-relative">
        <label for="confirm-new-password">Confirmar nova senha</label>
        <div class="d-flex align-items-center position-relative">
          <input id="confirm-new-password" name="confirm_new_password" type="password" class="form-control" />
          <i class="fa-solid fa-eye-slash position-absolute r-1 password-visibility" title="Mostrar" data-placement="bottom"></i>
        </div>
      </div>

      <button id="change-password-button" type="button" class="w-100 btn bg-blue-hover text-white mt-4 mb-3">
        Alterar senha
      </button>
    </form>
  </div>
</section>
{% endblock %}

{% set custom_script = 'profile.js' %}