<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    {% set page_title = page_title|default('Biblioteca Digital') %}
    <title>Biblion | {{ page_title }}</title>

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='icons/biblion-favicon.svg') }}" type="image/x-icon" />

    <!-- Template fonts -->
    <link href="{{ url_for('static', filename='libs/sb-admin-2/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet" />

    <!-- Template styles -->
    <link href="{{ url_for('static', filename='libs/sb-admin-2/css/sb-admin-2.css') }}" rel="stylesheet" />

    {% set has_datatable = has_datatable|default(False) %}
    {% if has_datatable %}
      <!-- Styles for Datatables -->
      <link href="{{ url_for('static', filename='libs/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" />
    {% endif %}

    <!-- Custom styles -->
    {% set custom_style = custom_style|default('common.css') %}
    <link href="{{ url_for('static', filename='styles/private/' + custom_style) }}" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      {% include 'private/components/sidebar/index.html' %}

      <!-- Content Wrapper -->
      <main id="content-wrapper" class="d-flex flex-column">
        <!-- Topbar -->
        {% include 'private/components/topbar/index.html' %}

        <!-- Page Content -->
        {% block page_content %}

        {% endblock %}
      </main>
    </div>

    <!-- Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">Deseja encerrar a sessão atual?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">Clique em "Sair" para confirmar.</div>
          <div class="modal-footer">
            <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" href="{{ url_for('auth.logout') }}">Sair</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='libs/sb-admin-2/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript -->
    <script src="{{ url_for('static', filename='libs/sb-admin-2/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/sb-admin-2/js/sb-admin-2.min.js') }}"></script>

    <!-- Fontawesome -->
    <script src="{{ url_for('static', filename='libs/fontawesome/index.js') }}" crossorigin="anonymous"></script>

    <!-- Sweet Alert 2 -->
    <script src="{{ url_for('static', filename='libs/sweetalert-2/index.js') }}"></script>

    {% if has_datatable %}
      <!-- Datatables plugins -->
      <script src="{{ url_for('static', filename='libs/sb-admin-2/vendor/datatables/jquery.dataTables.min.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
    {% endif %}

    <!-- Custom Page Script -->
    {% set custom_script = custom_script|default('common.js') %}
    <script src="{{ url_for('static', filename='scripts/private/' + custom_script) }}"></script>
  </body>
</html>
