{% extends 'private/pages/base/index.html' %}

{% set page_title = 'Autores de livros' %}

{% set custom_style = 'authors.css' %}

{% set has_datatable = True %}

{% block page_content %}
  <!-- Authors Datatable -->
  <div class="card shadow mt-4 mb-5 mx-2 mx-md-5">
    <div class="card-header py-2 px-4 d-flex justify-content-between align-items-center">
      <h2 class="m-0 text-blue-dark font-weight-bold">Autores</h2>
      <!-- Register Author Buttons -->
      <button id="register-author-modal-button" type="button" data-placement="top" title="Cadastrar autor" class="btn btn-circle d-flex icon-wrapper content-center bg-white text-center fs-base" data-toggle="modal" data-target="#register-author-modal"><i class="fas fa-layer-group text-blue-dark"></i><i class="fas fa-plus text-blue-dark"></i></button>
    </div>

    <div class="card-body px-md-5 px-lg-5 border-white">
      <div class="table-responsive">
        <table id="authors-table" class="table table-bordered table-striped bg-white shadow-sm" width="100%" cellspacing="0">
          <thead class="text-white bg-table-header">
            <tr>
              <th class="text-center">Nome</th>
              <th class="text-center">Data de criação</th>
              <th class="text-center">Data da última atualização</th>
              <th class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for author in authors %}
              <tr id="author-row-{{ author.id }}" class="author-row">
                <td class="author-name text-center">{{ author.name }}</td>
                <td data-order="{{ author.created_at.strftime('/%Y-%m-%d %H:%M:%S') }}" class="author-created-at text-center">{{ author.created_at.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                <td data-order="{{ author.updated_at.strftime('/%Y-%m-%d %H:%M:%S') }}" class="author-updated-at text-center">{{ author.updated_at.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                <td class="author-actions text-center">
                  <div class="d-flex justify-content-center gap-1">
                    <!-- Edit Author Button -->
                    <button type="button" class="btn edit-author-modal-button" data-toggle="modal" data-placement="bottom" title="Editar autor" data-target="#edit-author-modal" data-author-id="{{ author.id }}"><i class="fas fa-pencil-alt"></i></button>

                    <!-- Delete Author Button -->
                    <button type="button" class="btn delete-author-swal-button" data-placement="bottom" title="Excluir autor" data-author-id="{{ author.id }}"><i class="fas fa-trash-alt"></i></button>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Register Author Modal -->
  <div class="modal fade" id="register-author-modal" tabindex="-1" role="dialog" aria-labelledby="#register-author-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="register-author-modal-label">Cadastrar autor</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body px-3 px-lg-4">
          <form id="register-author-form">
            <div class="form-group d-flex flex-column align-items-start mb-4">
              <label for="register-author-name">Nome</label>
              <input id="register-author-name" name="name" type="text" class="form-control" autocomplete="name" />
            </div>

            <button id="register-author-form-button" class="btn btn-primary w-100 mt-4">Cadastrar</button>
          </form>
        </div>

        <div class="modal-footer px-3 px-lg-4">
          <button type="button" class="btn btn-danger m-0 w-100" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Author Modal -->
  <div class="modal fade" id="edit-author-modal" tabindex="-1" role="dialog" aria-labelledby="#edit-author-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- Modal Overlay -->
        <div id="edit-author-overlay" class="overlay">
          <div class="spinner-border text-light" role="status">
            <span class="sr-only"></span>
          </div>
        </div>

        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="modal-title" id="edit-author-modal-label">Editar autor</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body px-3 px-lg-4">
          <!-- Modal Body -->
          <form id="edit-author-form">
            <div class="form-group d-flex flex-column align-items-start mb-4">
              <label for="edit-author-name">Nome</label>
              <input id="edit-author-name" name="name" type="text" class="form-control" autocomplete="name" />
            </div>

            <button id="edit-author-form-button" class="btn btn-primary w-100 mt-4">Editar</button>
          </form>

          <!-- End form Body -->
        </div>

        <div class="modal-footer px-3 px-lg-4">
          <button type="button" class="btn btn-danger m-0 w-100" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% set custom_script = 'authors.js' %}
