{% extends 'public/base.html' %}

{% block title %}Login{% endblock %}

{% block custom_style %}login.css{% endblock %}

{% block content %}
<main class="row rounded bg-light m-3 w-lg-75 shadow-lg">
    <section id="logo-container" class="d-grid col-sm-12 col-lg-5 rounded p-3 p-lg-5 bg-blue-dark items-center">
        <img src="{{ url_for('static', filename='icons/biblion-logo.svg') }}" alt="Logomarca Biblion"
            class="max-w-50 max-w-lg-75 rounded object-fit-contain">
    </section>

    <section id="login-container" class="d-grid items-center col-sm-12 col-lg-7 p-4 p-lg-5 gap-1">
        <header>
            <h1 class="text-blue-dark font-weight-bold text-center fs-2xl">
                Acesse a <strong class="text-blue-light font-weight-bolder logo-text">Biblion</strong>
            </h1>
        </header>

        <form id="login-form" class="row gap-1 w-100 px-lg-4">
            <label for="email" class="col-12 d-flex align-items-center position-relative mb-0 p-0">
                <input type="text" name="email" id="email" placeholder="Email" autocomplete="email" class="form-control">
                <i class="fa-solid fa-envelope position-absolute r-1"></i>
            </label>

            <label for="password" class="col-12 d-flex align-items-center position-relative mb-0 p-0">
                <input type="password" name="password" id="password" placeholder="Senha" class="form-control">
                <i class="fa-solid fa-eye-slash position-absolute r-1 password-visibility" title="Mostrar" data-placement="bottom"></i>
            </label>

            <button id="login-button" type="submit" class="btn btn-login text-white bg-blue-light col-12 mt-2">Entrar</button>
        </form>

        <hr class="w-50 mt-3 mb-0">

        <div class="redirect-links row">
            <a class="small col-12 text-center" href="/forgot-password">Esqueceu sua senha? </a>
            <a class="small col-12 text-center" href="/register">Ainda não possui conta? Cadastre-se!</a>
        </div>
    </section>
</main>

<!--footer class="d-grid gap-1  m-4 mb-lg-0">
    <span class="d-inline-block text-center">ou continue com</span>
    <div id="social-login" class="d-inline-flex justify-content-center gap-1 social-container">
        <a href="#" class="btn text-gray"><i class="fab fa-google fs-lg"></i></a>
        <a href="#" class="btn text-gray"><i class="fab fa-windows fs-lg"></i></a>
        <a href="#" class="btn text-gray"><i class="fab fa-apple fs-lg"></i></a>
    </div>
</footer-->
{% endblock %}

{% block custom_script %}login.js{% endblock %}
