<!-- Edit Informations Card-->
<div class="card shadow mt-4 mb-5 mx-2 mx-md-5">
    <div class="card-header py-2 px-4 d-flex  justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold" style="color: #860331;">Informações pessoais</h6>
        <div class="bg-white text-center align-middle rounded-circle d-inline-flex 
            justify-content-center align-items-center font-weight-normal"
            style="height: 2.5rem; width: 2.5rem; font-size: 1rem">
            <i class="fas fa-user" style="color: #860331;"></i>
        </div>
    </div>


    <div class="card-body px-md-5 px-lg-5 flex-column border border-white">

        <form id="profileForm" class="row align-items-center justify-content-between" enctype="multipart/form-data">

            <input name="lastEmail" id="lastEmail" type="hidden" value="{{lastEmail}}" />

            <div id="profile-picture-component" class="col-12 my-3 col-md-12 col-lg-6 d-flex justify-content-center">
                <div id="photoContainer"
                    class="position-relative overflow-hidden d-flex justify-content-center text-center"
                    style="width: 65%; padding-bottom: 65%; cursor: pointer;">

                    <img id="photoElement" class="img-profile border border-white shadow-sm position-absolute top-50 start-50 translate-middle 
                        w-100 h-100 rounded-circle" src="/image/administrator/{{imagePath}}" alt="Imagem de Perfil"
                        style="object-fit: cover;">

                    <span id="photoOverlay" class="overlay position-absolute top-50 start-50 
                translate-middle w-100 h-100 rounded-circle text-light 
                d-flex align-items-center justify-content-center"
                        style="background-color: rgba(0 ,0 , 0, 0.5); visibility: hidden;">
                        Escolher foto de perfil
                    </span>
                    <input name="photoInput" id="photoInput" type="file" style="display: none" />
                </div>
            </div>


            <div class="col-12 col-md-12 col-lg-6 my-3">
                <div class="form-group">
                    <label for="firstName">Nome</label>
                    <input id="firstName" name="firstName" type="text" class="form-control"
                        value="{{firstName}}" />
                </div>

                <div class="form-group">
                    <label for="lastName">Sobrenome</label>
                    <input id="lastName" name="lastName" type="text" autocomplete="off"
                        class="form-control" value="{{lastName}}" />
                </div>


                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" autocomplete="off" class="form-control"
                        value="{{email}}" />
                </div>

                <button id="editInformationsButton" type="button" class="w-100 btn btn-danger text-white mt-4">
                    Alterar informações
                </button>
            </div>

        </form>
    </div>
</div>



<!-- Edit Password Card-->
<div class="card shadow mt-5 mb-4 mx-2 mx-md-5">
    <div class="card-header py-2 px-4 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold" style="color: #860331;">Nova senha</h6>
        <div class="bg-white text-dark text-center align-middle rounded-circle d-inline-flex 
        justify-content-center align-items-center font-weight-normal"
        style="height: 2.5rem; width: 2.5rem; font-size: 1rem">
        <i class="fas fa-key" style="color: #860331;"></i>
    </div>
    </div>


    <div class="card-body px-md-5 px-lg-5 flex-column border border-white" style="background-color: #f2f2f2;">

        <form id="profilePasswordForm" class="mx-auto" enctype="multipart/form-data" style="max-width: 500px">

            <input name="lastEmailForPassword" id="lastEmailForPassword" type="hidden" value="{{lastEmail}}" />

            <div class="form-group position-relative">
                <label for="password">Senha atual</label>
                <div class="d-flex align-items-center position-relative">
                    <input id="password" name="password" type="password" class="form-control" style="padding-right: 30px"/>
                    <i class="fa-solid fa-eye-slash position-absolute top-50 translate-middle password-visibility"
                        style="right: 15px; cursor: pointer;" title="Mostrar"
                        onclick="togglePasswordVisibility('password', this)">
                    </i>
                </div>

            </div>

            <div class="form-group position-relative">
                <label for="newPassword">Nova senha</label>
                <div class="d-flex align-items-center position-relative">
                    <input id="newPassword" name="newPassword" type="password" class="form-control" style="padding-right:30px" />
                    <i class="fa-solid fa-eye-slash position-absolute top-50 translate-middle password-visibility"
                        style="right: 15px; cursor: pointer;" title="Mostrar"
                        onclick="togglePasswordVisibility('newPassword', this)">
                    </i>
                </div>
            </div>

            <div class="form-group position-relative">
                <label for="confirmNewPassword">Confirmar nova senha</label>
                <div class="d-flex align-items-center position-relative">
                    <input id="confirmNewPassword" name="confirmNewPassword" type="password"
                        class="form-control" style="padding-right:30px"/>
                    <i class="fa-solid fa-eye-slash position-absolute top-50 translate-middle password-visibility"
                        style="right: 15px; cursor: pointer;" title="Mostrar"
                        onclick="togglePasswordVisibility('confirmNewPassword', this)">
                    </i>
                </div>
            </div>

            <button id="editPasswordButton" type="button"
                class="w-100 btn btn-danger text-white mt-4 mb-3">
                Alterar senha
            </button>

        </form>

    </div>
</div>



<!--Alter Passwords Visibility-->
<script>
    function togglePasswordVisibility(passwordFieldId, toggleIcon) {
        const passwordField = document.getElementById(passwordFieldId);
        const isPasswordVisible = passwordField.type === 'text';

        if (isPasswordVisible) {
            passwordField.type = 'password';
            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
            toggleIcon.title = "Mostrar";

        } else {
            passwordField.type = 'text';
            toggleIcon.classList.remove("fa-eye-slash");
            toggleIcon.classList.add("fa-eye");
            toggleIcon.title = "Ocultar";
        }

        $(toggleIcon).tooltip('dispose').tooltip("show");
    }
</script>



<!--Masks Functions-->
<script>

    //------------------ Last key pressed -------------------//
    let lastKeyPressed = "";
    document.addEventListener("keydown", function (e) {
        lastKeyPressed = e.key;
    });



    //--------------------- Name ---------------------//
    function nameMask(input) {
        const cursorPosition = input.selectionStart;

        const alphaRegex = /[^\sa-zA-ZàáâãéêíóôõúÀÁÂÃÉÊÍÓÔÕÚçÇ']|^\s+$|^'/g;

        if (alphaRegex.test(input.value)) {
            input.value = input.value.replace(alphaRegex, "");
            input.setSelectionRange(cursorPosition - 1, cursorPosition - 1);
        }

        if (/\s{2,}/g.test(input.value)) {
            input.value = input.value.replace(/\s{2,}/g, " ");
            input.setSelectionRange(cursorPosition - 1, cursorPosition - 1);
        }

        if (/'{2,}/g.test(input.value)) {
            input.value = input.value.replace(/'{2,}/g, "'");
            input.setSelectionRange(cursorPosition - 1, cursorPosition - 1);
        }
    }



    //-------------------- Email ---------------------//
    function emailMask(input) {
        const cursorPosition = input.selectionStart;
        const emailRegex = /[^a-zA-Z0-9@_.-]/g;

        if (emailRegex.test(input.value)) {
            input.value = input.value.replace(emailRegex, "");
            input.setSelectionRange(cursorPosition - 1, cursorPosition - 1);
            return;
        }
        input.setSelectionRange(cursorPosition, cursorPosition);
    }


</script>



<!--Apply Masks on Profile Form fields-->
<script>
    //------------------- First Name -------------------//
    document.getElementById("firstName").addEventListener("input", function () {
        if (this.value.length > 100) {
            this.value = this.value.substring(0, 100);
        }
        nameMask(this);
    });

    //------------------- Last Name -------------------//
    document.getElementById("lastName").addEventListener("input", function () {
        if (this.value.length > 150) {
            this.value = this.value.substring(0, 150);
        }
        nameMask(this);
    });

    //-------------------- Email ---------------------//
    document.getElementById("email").addEventListener("input", function () {
        if (this.value.length > 150) {
            this.value = this.value.substring(0, 150);
        }
        emailMask(this);
    });


</script>



<!--Change Photo Profile Script-->
<script>
    const photoContainer = document.getElementById("photoContainer");
    const photoElement = photoContainer.querySelector("img");
    const photoOverlay = photoContainer.querySelector("span");
    const photoInput = photoContainer.querySelector("input");

    photoContainer.addEventListener("mouseover", () => {
        photoOverlay.style.visibility = "visible";
    });

    photoContainer.addEventListener("mouseout", () => {
        photoOverlay.style.visibility = "hidden";
    });

    photoContainer.addEventListener("click", () => {
        photoInput.click();
    });


    var lastPhotoFile;

    photoInput.addEventListener('change', async (event) => {

        const file = event.target.files[0];

        if (file) {

            let validPhotoNewsObject = await validPhotoProfile(photoInput);

            if (!validPhotoNewsObject.success) {

                photoInput.value = "";

                Swal.fire({
                    title: "<h3>Ocorreu um problema!</h3>",
                    html: validPhotoNewsObject.message,
                    icon: "error",
                    iconHtml: '<i class="fas fa-times-circle text-danger"></i>',
                    backdrop: "rgba(0,0,0,0.7)",
                    background: "#f2f2f2",
                    customClass: {
                        icon: "custom-icon-class",
                        confirmButton: "btn-primary"
                    }
                });

            } else {

                lastPhotoFile = file;

                const reader = new FileReader();

                reader.onload = function (event) {
                    const photoUrl = event.target.result;
                    photoElement.src = photoUrl;
                    //profilePhoto.style.backgroundImage = "url('" + photoUrl + "')";
                };

                reader.readAsDataURL(file);
            }

        } else {

            if (lastPhotoFile) {
                const fileList = new DataTransfer();
                fileList.items.add(new File([lastPhotoFile], lastPhotoFile.name));
                PhotoInput.files = fileList.files;
            }
        }
    });
</script>



<!--Photo News Validation-->
<script>

    async function validPhotoProfile(input) {

        let file = input.files[0];

        if (file.size > 5000000) {
            return {
                success: false,
                message: "Tamanho máximo de 5MB excedido para <strong>imagem de perfil</strong>."
            };
        }


        try {

            const arrayBuffer = await readFileAsArrayBuffer(file);

            const text = await readFileAsText(file);
            const svgPattern = /<svg[^>]*xmlns="http:\/\/www\.w3\.org\/2000\/svg"[^>]*>/;
            const isSVG = svgPattern.test(text);

            const isValidFormat = (IsOtherFileFormat(arrayBuffer) || isSVG);


            if (!isValidFormat) {
                return {
                    success: false,
                    message: "Tipo de arquivo inválido para <strong>imagem de perfil</strong>."
                };
            }




            return {
                success: true,
                message: "Imagem de perfil válida."
            };


        } catch (error) {
            return {
                success: false,
                message: "Erro ao carregar <strong>imagem de perfil</strong>. Tente novamente."
            };
        }
    }



    function readFileAsArrayBuffer(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();

            reader.onload = function (event) {
                resolve(new Uint8Array(event.target.result));
            };

            reader.onerror = function (event) {
                reject(event);
            };

            reader.readAsArrayBuffer(file);
        });
    }


    function readFileAsText(file) {

        return new Promise((resolve, reject) => {
            const reader = new FileReader();

            reader.onload = function (event) {
                resolve(event.target.result);
            };

            reader.onerror = function (event) {
                reject(event);
            };

            reader.readAsText(file);
        });

    }


    function IsOtherFileFormat(arrayBuffer) {

        let fileCodes = ["89504e47", "ffd8ffdb", "ffd8ffe0", "ffd8ffee", "ffd8ffe1", "0000000c", "ff4fff51", "52494646"];

        var arr = arrayBuffer.subarray(0, 4);
        var header = "";
        for (var i = 0; i < arr.length; i++) {
            header += arr[i].toString(16);
        }

        if (!fileCodes.includes(header)) {
            return false;
        }
        return true;
    }


</script>



<!--Submit Change Informations Form-->
<script>
    const editButton = document.querySelector("#editInformationsButton");

    editButton.addEventListener("click", async (event) => {
        event.preventDefault();
        Swal.fire({
            title: "Alterando informações...",
            didOpen: async () => {
                Swal.showLoading();
            },
            allowOutsideClick: () => !Swal.isLoading(),
            backdrop: "rgba(0,0,0,0.7)",
            background: "#f2f2f2",
        });

        const response = await editInformations();

        if (response.success) {

            Swal.fire({
                title: "<h3>Alterações efetuadas com sucesso!</h3>",
                text: response.stayLoggedIn ?
                    "" :
                    "Para continuar, por favor, faça login novamente utilizando suas novas credenciais.",
                icon: "success",
                iconHtml: '<i class="fas fa-check-circle text-success"></i>',
                backdrop: "rgba(0,0,0,0.7)",
                background: "#f2f2f2",
                customClass: {
                    icon: "custom-icon-class",
                    confirmButton: "btn-primary"
                }
            }).then(() => {
                window.location.href = response.stayLoggedIn ? "/profile" : "/logout";
            });

        } else {
            Swal.fire({
                title: "<h3>Falha ao alterar informações!</h3>",
                html: response.message,
                icon: "error",
                iconHtml: '<i class="fas fa-times-circle text-danger"></i>',
                backdrop: "rgba(0,0,0,0.7)",
                background: "#f2f2f2",
                customClass: {
                    icon: "custom-icon-class",
                    confirmButton: "btn-primary"
                }
            });
        }
    });





    async function editInformations() {

        var photoInput = document.getElementById("photoInput");

        if (photoInput.files.length != 0) {

            var validPhotoProfileObject = await validPhotoProfile(photoInput);

            if (await !validPhotoProfileObject.success) {
                return await new Promise((resolve, reject) => {
                    setTimeout(() => {
                        resolve(
                            validPhotoProfileObject
                        );
                    });
                });
            }
        }


        try {
            const form = document.querySelector("#profileForm");
            const formData = new FormData(form);

            const response = await fetch("/administrator/edit-profile", {
                method: "POST",
                body: formData,
            });

            return await response.json();


        } catch (error) {
            return {
                success: false,
                message: "Erro na conexão. Por favor, recarregue a página e tente novamente."
            };
        }
    }

</script>



<!--Submit Edit Password Form-->
<script>

    const passwordButton = document.querySelector("#editPasswordButton");


    passwordButton.addEventListener("click", async (e) => {
        e.preventDefault();

        Swal.fire({
            title: "Alterando senha...",
            didOpen: async () => {
                Swal.showLoading();
            },
            allowOutsideClick: () => !Swal.isLoading(),
            backdrop: "rgba(0,0,0,0.7)",
            background: "#f2f2f2",
        });

        const response = await editPassword();

        if (response.success) {
            Swal.fire({
                title: "<h3>Senha alterada com sucesso!</h3>",
                text: "Para continuar, por favor, faça login novamente utilizando sua nova senha.",
                icon: "success",
                iconHtml: '<i class="fas fa-check-circle text-success"></i>',
                backdrop: "rgba(0,0,0,0.7)",
                background: "#f2f2f2",
                customClass: {
                    icon: "custom-icon-class",
                    confirmButton: "btn-primary"
                }
            }).then(() => {
                window.location.href = "/logout"
            });
        } else {
            Swal.fire({
                title: "<h3>Falha ao alterar senha!</h3>",
                html: response.message,
                icon: "error",
                iconHtml: '<i class="fas fa-times-circle text-danger"></i>',
                backdrop: "rgba(0,0,0,0.7)",
                background: "#f2f2f2",
                customClass: {
                    icon: "custom-icon-class",
                    confirmButton: "btn-primary"
                }
            });
        }
    });



    async function editPassword() {

        const password = document.querySelector("#password");
        const newPassword = document.querySelector("#newPassword");
        const confirmPassword = document.querySelector("#confirmNewPassword");



        if (password.value == "") {
            return await new Promise((resolve, reject) => {
                setTimeout(() => {
                    resolve({
                        success: false,
                        message: "Informe a sua senha atual."
                    });
                })
            })
        }


        if (newPassword.value == "") {
            return await new Promise((resolve, reject) => {
                setTimeout(() => {
                    resolve({
                        success: false,
                        message: "Informe a nova senha."
                    });
                })
            })
        }



        if (password.value == newPassword.value) {
            return await new Promise((resolve, reject) => {
                setTimeout(() => {
                    resolve({
                        success: false,
                        message: "A senha atual e a nova senha não devem coincidir."
                    });
                })
            })
        }




        if (newPassword.value != confirmPassword.value) {
            return await new Promise((resolve, reject) => {
                setTimeout(() => {
                    resolve({
                        success: false,
                        message: "Verifique a confirmação de nova senha. Senhas não coincidem."
                    });
                })
            })
        }



        try {

            const form = document.querySelector("#profilePasswordForm");
            const formData = new FormData(form);

            const response = await fetch("/administrator/edit-password", {
                method: "POST",
                body: formData
            });

            return await response.json();

        } catch (error) {
            return {
                success: false,
                message:  "Erro na conexão. Por favor, recarregue a página e tente novamente."
            };
        }
    }


    function clearFields(fields) {
        fields.forEach((id) => {
            document.querySelector("#" + id).value = "";
        });
    }

</script>



<!--Set Buttons Tooltip-->
<script>

    $(document).ready(() => {
        $(".password-visibility").tooltip();
    });

</script>