<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Biblion | Início</title>

  <!-- Favicon -->
  <link rel="icon" href="static/icons/biblion-favicon.svg" type="image/x-icon">


  <!-- Custom fonts for this template-->
  <link href="static/libs/sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">


  <!-- Template styles-->
  <link href="static/libs/sb-admin-2/css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom styles-->
  <link href="static/styles/private/home.css" rel="stylesheet">
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <aside>
      <nav>
        <ul class="navbar-nav sidebar accordion" id="accordion-sidebar">

          <!-- Sidebar Brand -->
          <li>
            <a class="sidebar-brand d-flex align-items-center justify-content-center gap-1" href="#">
              <img class="sidebar-brand-icon" src="static/icons/biblion-logo.svg">
              <strong class="text-blue-light fs-lg font-weight-bold sidebar-brand-text">Biblion</strong>
            </a>
          </li>

          <!-- Home -->
          <li class="nav-item mt-2">
            <a class="nav-link" href="/home">
              <i class="fas fa-fw fa-house text-white"></i>
              <span class="text-white">Início</span>
            </a>
          </li>

          <!-- Favorites -->
          <li class="nav-item">
            <a class="nav-link" href="/favorites">
              <i class="fas fa-fw fa-heart text-white"></i>
              <span class="text-white">Favoritos</span>
            </a>
          </li>

          <!-- Logout -->
          <li class="nav-item mb-5">
            <a class="nav-link" href="/login" data-toggle="modal" data-target="#logoutModal">
              <i class="fas fa-fw fa-sign-out-alt text-white"></i>
              <span class="text-white">Sair</span>
            </a>
          </li>

          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline mt-5 position-absolute">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>
        </ul>
      </nav>
    </aside>

    <!-- Content Wrapper -->
    <main id="content-wrapper" class="d-flex flex-column">

      <!-- Topbar -->
      <header>
        <nav class="navbar navbar-expand navbar-light bg-light topbar static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input name="search" type="text" class="form-control bg-white border-0 small" placeholder="Buscar por..."
                aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input name="search" type="text" class="form-control bg-light border-0 small"
                      placeholder="Buscar por..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Antonio</span>
                <img class="img-profile rounded-circle object-fit-cover" src="static/icons/default-profile.svg">
              </a>

              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/profile">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/login" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Sair
                </a>
              </div>
            </li>
          </ul>
        </nav>
      </header>

      <!-- Begin Page Content -->
      <div class="container-fluid mt-4">

        <div class="category mb-5">
          <h2 class="category-title font-weight-bold fs-md text-blue-dark">Romance</h2>

          <div class="category-books-container d-flex w-100 pt-1 pb-2">
            <a class="book-card" href="/book-details">
              <img src="./static/images/ps-eu-te-amo.jpg" alt="Capa do livro 'PS, Eu Te Amo'">
              <h3>PS, Eu Te Amo</h3>
            </a>

            <a class="book-card" href="#">
              <img src="./static/images/eu-e-esse-meu-coracao.jpg" alt="Capa do livro 'Eu e Esse Meu Coração'">
              <h3>Eu e esse meu coração</h3>
            </a>

            <a class="book-card" href="#">
              <img src="./static/images/e-assim-que-acaba.jpg" alt="Capa do livro 'É assim que acaba'">
              <h3>É assim que acaba</h3>
            </a>

            <a class="book-card" href="#">
              <img src="./static/images/teto-para-dois.jpg" alt="Capa do livro 'Teto para dois'">
              <h3>Teto para dois</h3>
            </a>

            <a class="book-card" href="#">
              <img src="./static/images/verity.jpg" alt=" Capa do livro 'Verity'">
              <h3>Verity</h3>
            </a>

          </div>
        </div>

        <div class="category mb-5">
          <h2 class="category-title font-weight-bold fs-md text-blue-dark">Fantasia</h2>
          <div class="category-books-container d-flex w-100 pt-1 pb-2">

            <a class="book-card" href="#">
              <img src="./static/images/sombra-e-ossos.jpg" alt="Capa do livro 'Sombra e Ossos'">
              <h3>Sombra e Ossos</h3>
            </a>

            <a class="book-card" href="#">
              <img src="./static/images/o-ladrao-de-raios.jpg" alt="Capa do livro 'O Ladrão de Raios'">
              <h3>O Ladrão de Raios</h3>
            </a>

            <a class="book-card" href="#">
              <img src="./static/images/a-rainha-vermelha.jpg" alt="Capa do livro 'A Rainha Vermelha'">
              <h3>A Rainha Vermelha</h3>
            </a>

            <a class="book-card" href="#">
              <img src="./static/images/o-hobbit.jpg" alt="Capa do livro 'O Hobbit">
              <h3>O Hobbit</h3>
            </a>

            <a class="book-card" href="#">
              <img src="./static/images/duna.jpg" alt="Capa do livro 'Duna'">
              <h3>Duna</h3>
            </a>

          </div>
        </div>

        <div class="category mb-5">
          <h2 class="category-title font-weight-bold fs-md text-blue-dark">Ficção Científica</h2>

          <div class="category-books-container d-flex w-100 pt-1 pb-2">


            <a class="book-card" href="#">
              <img src="./static/images/interestelar.jpg" alt="Capa do livro 'Interestelar'">
              <h3>Interestelar</h3>
            </a>

            <a class="book-card" href="#">
              <img src="./static/images/neuromancer.jpg" alt="Capa do livro 'Neuromancer'">
              <h3>Neuromancer</h3>
            </a>

            <a class="book-card" href="#">
              <img src="./static/images/o-conto-da-aia.jpg" alt="Capa do livro 'O Conto da Aia'">
              <h3>O Conto da Aia</h3>
            </a>

            <a class="book-card" href="#">
              <img src="./static/images/frankenstein.jpg" alt="Capa do livro 'Frankenstein'">
              <h3>Frankenstein</h3>
            </a>

            <a class="book-card" href="#">
              <img src="./static/images/fahrenheit-451.png" alt="Capa do livro 'Fahrenheit, 451">
              <h3>Fahrenheit, 451</h3>
            </a>

          </div>
        </div>

        <div class="category mb-5">
          <h2 class="category-title font-weight-bold fs-md text-blue-dark">Drama</h2>

          <div class="category-books-container d-flex w-100 pt-1 pb-2">


            <a class="book-card" href="#">
              <img src="./static/images/hamlet.jpg" alt="Capa do livro 'Hamlet'">
              <h3>Hamlet</h3>
            </a>

            <a class="book-card" href="#">
              <img src="./static/images/o-auto-da-barca-do-inferno.png" alt="Capa do livro 2 'O Auto da Barca do Inferno'">
              <h3>O Auto da Barca do Inferno</h3>
            </a>

            <a class="book-card" href="#">
              <img src="./static/images/o-cacador-de-pipas.jpg" alt="Capa do livro 'O Caçador de Pipas'">
              <h3>O Caçador de Pipas</h3>
            </a>

            <a class="book-card" href="#">
              <img src="./static/images/o-beijo-no-asfalto.jpg" alt="Capa do livro 'O Beijo no Asfalto'">
              <h3>O Beijo no Asfalto</h3>
            </a>

            <a class="book-card" href="#">
              <img src="./static/images/o-menino-do-pijama-listrado.jpg" alt="Capa do livro 'O Menino do Pijama Listrado'">
              <h3>O Menino do Pijama Listrado</h3>
            </a>

          </div>
        </div>
      </div>
    </main>
  </div>



  <!-- Scroll to Top Button-->
  <!--a class="scroll-to-top rounded d-none d-lg-block" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a-->

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Deseja encerrar a sessão atual?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Clique em "Sair" para confirmar.</div>
        <div class="modal-footer">
          <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="/login.html">Sair</a>
        </div>
      </div>
    </div>
  </div>



  <!-- Bootstrap core JavaScript-->
  <script src="static/libs/sb-admin-2/vendor/jquery/jquery.min.js"></script>
  <script src="static/libs/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/libs/sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="static/libs/sb-admin-2/js/sb-admin-2.min.js"></script>

  <!-- Fontawesome -->
  <script src="static/libs/fontawesome/index.js" crossorigin="anonymous"></script>
</body>

</html>