<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Biblion | Biblioteca Digital</title>

    <!-- Favicon -->
    <link rel="icon" href="static/icons/biblion-favicon.svg" type="image/x-icon">

    <!-- Custom fonts for this template-->
    <link href="static/libs/sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">

    <!-- Template styles-->
    <link href="static/libs/sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link rel="stylesheet" href="static/styles/public/welcome.css">
</head>

<body class="d-flex align-items-start align-items-lg-center justify-content-center min-vh-100">

    <main class="row rounded bg-light m-3 w-lg-75 shadow-lg">

        <section id="logo-container" class="d-grid col-sm-12 col-lg-5 d-grid rounded p-3 p-lg-5 bg-blue-dark">
            <img src="static/icons/biblion-logo.svg" alt="Logomarca Biblion"
                class="self-center max-w-50 max-w-lg-75 rounded object-fit-contain">
        </section>

        <section id="presentation-container" class="d-grid items-center col-sm-12 col-lg-7 p-4 p-lg-5">

            <header>
                <h1 class="text-center text-blue-dark fs-2xl line-h-150 font-weight-bold">Seja bem-vindo à <strong
                        class="text-blue-light font-weight-bolder logo-text">Biblion</strong></h1>
                <p class="mt-3 text-center text-gray fs-base mb-0 line-h-140">
                    A leitura é a porta para novos mundos! Descubra histórias incríveis, adquira conhecimento e tenha
                    acesso a uma biblioteca completa em suas mãos.
                </p>
            </header>

            <div id="redirect-buttons" class="d-flex flex-wrap justify-content-around gap-1 mt-5 w-100">
                <a href="/login" class="btn btn-login text-white bg-blue-light col-12 col-lg-5 py-2">Login</a>
                <a href="/register"
                    class="btn btn-register text-white bg-green-light col-12 col-lg-5 py-2">Cadastrar-se</a>
            </div>

            <hr class="mt-5 w-50">

            <div id="social-links" class="d-inline-flex justify-content-center gap-1 social-container">
                <a href="#" class="btn text-gray"><i class="fab fa-x-twitter fs-lg"></i></a>
                <a href="#" class="btn text-gray"><i class="fab fa-instagram fs-lg"></i></a>
                <a href="#" class="btn text-gray"><i class="fab fa-linkedin fs-lg"></i></a>
            </div>

        </section>
    </main>

    <!-- Bootstrap core JavaScript-->
    <script src="static/libs/sb-admin-2/vendor/jquery/jquery.min.js"></script>
    <script src="static/libs/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/libs/sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/libs/sb-admin-2/js/sb-admin-2.min.js"></script>

    <!-- Fontawesome -->
    <script src="static/libs/fontawesome/index.js" crossorigin="anonymous"></script>
</body>

</html>