<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Biblion - Perfil</title>

  <!-- Favicon -->
  <link rel="icon" href="static/icons/biblion-favicon.svg" type="image/x-icon">


  <!-- Custom fonts for this template-->
  <link href="static/libs/sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">


  <!-- Template styles-->
  <link href="static/libs/sb-admin-2/css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom styles-->
  <link href="static/styles/private/profile.css" rel="stylesheet">
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <aside>
      <nav>
        <ul class="navbar-nav sidebar accordion" id="accordion-sidebar">

          <!-- Sidebar Brand -->
          <li>
            <a class="sidebar-brand d-flex align-items-center justify-content-center gap-1" href="#">
              <img class="sidebar-brand-icon" src="static/icons/biblion-logo.svg">
              <strong class="text-blue-light fs-lg font-weight-black sidebar-brand-text">Biblion</strong>
            </a>
          </li>

          <!-- Home -->
          <li class="nav-item mt-2">
            <a class="nav-link" href="/home">
              <i class="fas fa-fw fa-house text-white"></i>
              <span class="text-white">Início</span>
            </a>
          </li>

          <!-- Favorites -->
          <li class="nav-item">
            <a class="nav-link" href="/favorites">
              <i class="fas fa-fw fa-heart text-white"></i>
              <span class="text-white">Favoritos</span>
            </a>
          </li>

          <!-- Logout -->
          <li class="nav-item mb-5">
            <a class="nav-link" href="/login" data-toggle="modal" data-target="#logoutModal">
              <i class="fas fa-fw fa-sign-out-alt text-white"></i>
              <span class="text-white">Sair</span>
            </a>
          </li>

          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline mt-5 position-absolute">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>
        </ul>
      </nav>
    </aside>

    <!-- Content Wrapper -->
    <main id="content-wrapper" class="d-flex flex-column">

      <!-- Topbar -->
      <header>
        <nav class="navbar navbar-expand navbar-light bg-light topbar static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Antonio</span>
                <img class="img-profile rounded-circle object-fit-cover" src="static/icons/default-profile.svg">
              </a>

              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/profile">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/login" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Sair
                </a>
              </div>
            </li>
          </ul>
        </nav>
      </header>

      <!-- Edit informations card-->
      <section class="card shadow mt-4 mb-5 mx-2 mx-md-5">
        <header class="card-header py-2 px-4 d-flex justify-content-between align-items-center">
          <h2 class="m-0 text-blue-dark font-weight-bold">Informações pessoais</h2>
          <div class="d-grid icon-wrapper content-center bg-white text-center rounded-circle fs-base">
            <i class="fas fa-user text-blue-dark"></i>
          </div>
        </header>

        <div class="card-body px-md-5 px-lg-5 border border-white">
          <form id="change-personal-info-form" class="row"
            enctype="multipart/form-data">

            <input name="identifier" type="hidden"  class="d-none"/>

            <div id="photo-container" class="col-12 col-lg-6 my-3 d-flex justify-content-center align-items-center">
              <label for="photo" class="mb-0 d-flex embed-responsive embed-responsive-1by1 position-relative">
                <span id="photo-overlay" class="d-grid content-center rounded-circle text-light embed-responsive-item bg-overlay font-weight-bold">Escolher foto de perfil</span>

                <img id="photo-preview" src="static/icons/default-profile.svg" alt="Foto de perfil" class="object-fit-cover embed-responsive-item">

                <input type="file" name="photo" id="photo" class="invisible embed-responsive-item">
              </label>
            </div>
            

            <div class="col-12 col-lg-6 my-3">
              <div class="form-group">
                <label for="firstname">Nome</label>
                <input id="firstname" name="firstname" type="text" value="Antonio" class="form-control" />
              </div>

              <div class="form-group">
                <label for="lastname">Sobrenome</label>
                <input id="lastname" name="lastname" type="text" value="Lucas da Silva Vale" autocomplete="off"
                  class="form-control" />
              </div>


              <div class="form-group">
                <label for="email">Email</label>
                <input id="email" name="email" type="text" value="alucavalle@gmail.com" autocomplete="email"
                  class="form-control" />
              </div>

              <button id="change-personal-info-button" type="button" class="w-100 btn bg-blue-hover text-white mt-4">
                Alterar informações
              </button>
            </div>

          </form>
        </div>
      </section>

      <!-- Edit password card-->
      <section class="card shadow mt-5 mb-4 mx-2 mx-md-5">
        <header class="card-header py-2 px-4 d-flex justify-content-between align-items-center">
          <h2 class="m-0 text-blue-dark font-weight-bold">Nova senha</h2>
          <div class="d-grid icon-wrapper content-center bg-white text-center rounded-circle fs-base">
            <i class="fas fa-key text-blue-dark"></i>
          </div>
        </header>

        <div class="card-body px-md-5 px-lg-5 border border-white">

          <form id="change-password-form" class="mx-auto" enctype="multipart/form-data">

            <input name="identifier" type="hidden" />

            <div class="form-group position-relative">
              <label for="password">Senha atual</label>
              <div class="d-flex align-items-center position-relative">
                <input id="password" name="password" type="password" class="form-control"/>
                <i class="fa-solid fa-eye-slash position-absolute r-1" title="Mostrar">
                </i>
              </div>
            </div>

            <div class="form-group position-relative">
              <label for="new-password">Nova senha</label>
              <div class="d-flex align-items-center position-relative">
                <input id="new-password" name="new-password" type="password" class="form-control" />
                <i class="fa-solid fa-eye-slash position-absolute r-1"  title="Mostrar">
                </i>
              </div>
            </div>

            <div class="form-group position-relative">
              <label for="confirm-new-password">Confirmar nova senha</label>
              <div class="d-flex align-items-center position-relative">
                <input id="confirm-new-password" name="confirm-new-password" type="password" class="form-control" />
                <i class="fa-solid fa-eye-slash position-absolute r-1" title="Mostrar">
                </i>
              </div>
            </div>

            <button id="change-passowrd-button" type="button" class="w-100 btn bg-blue-hover text-white mt-4 mb-3">
              Alterar senha
            </button>

          </form>
        </div>
      </section>
    </main>
  </div>





  <!-- Scroll to Top Button-->
  <!--a class="scroll-to-top rounded d-none d-lg-block" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a-->

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Deseja encerrar a sessão atual?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Clique em "Sair" para confirmar.</div>
        <div class="modal-footer">
          <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="/login.html">Sair</a>
        </div>
      </div>
    </div>
  </div>



  <!-- Bootstrap core JavaScript-->
  <script src="static/libs/sb-admin-2/vendor/jquery/jquery.min.js"></script>
  <script src="static/libs/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/libs/sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="static/libs/sb-admin-2/js/sb-admin-2.min.js"></script>

  <!-- Fontawesome -->
  <script src="static/libs/fontawesome/index.js" crossorigin="anonymous"></script>
</body>

</html>